<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>献立のメモ</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/mblode/marx/master/css/marx.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <style>

      textarea{
        width: 80%;
      }
    </style>
  </head>
  <body>
    <main ng-controller="appController">
      <h1>Write Menu Here!</h1>
      <h2 id="date">{{date}}</h2>
      <div>
        <a href="#" ng-click="prev_date()">⇐ prev date</a>|<a href="#" ng-click="next_date()">next date ⇒</a>
      </div>

      <h3>Morning</h3>
      <ul>
        <li ng-repeat="m_row in data.morning">{{m_row.text}}</li>
      </ul>
      <div>
        <input ng-model="m_text"><button type="button" ng-click="add_m()">+</button>
      </div>

      <h3>Lunch</h3>
      <ul>
        <li ng-repeat="l_row in data.lunch">{{l_row.text}}</li>
      </ul>
      <div>
          <input ng-model="l_text"><button type="button" ng-click="add_l()">+</button>
      </div>

      <h3>Dinner</h3>
      <ul>
          <li ng-repeat="d_row in data.dinner">{{d_row.text}}</li>
      </ul>
      <div>
          <input ng-model="d_text"><button type="button" ng-click="add_d()">+</button>
      </div>

      <h3>Shopping List</h3>
      <ul>
          <li ng-repeat="s_row in data.shopping_list">{{s_row.text}}</li>
      </ul>
      <div>
          <input ng-model="s_text"><button type="button" ng-click="add_s()">+</button>
      </div>

    </main>
    <script>
      var module = angular.module('app',[]);
      var now = new Date();
      var date_str = now.getFullYear() + '-' + now.getMonth() + '-' + now.getDate();
      
      module.controller('appController',function($scope){
        $scope.date = date_str + "(" + dayToStr(now.getDay()) +")";

        $scope.data = {morning:[],lunch:[],dinner:[],shopping_list:[]};

        // localstrageからよみこみ
        readData();

        // click event
        // ---------------
        // TODO:全体的に3回も同じのかいてて冗長なのであとでなおす。。。。
        //　あとでmodule化する
        $scope.add_m = function(){
          $scope.data.morning.push({text:$scope.m_text});
          $scope.m_text = "";
          localStorage.setItem(date_str + '_morning',objToJson($scope.data.morning));
        }
        $scope.add_l = function(){
          $scope.data.lunch.push({text:$scope.l_text});
          $scope.l_text = "";
          localStorage.setItem(date_str + '_lunch',objToJson($scope.data.lunch));
        }
        $scope.add_d = function(){
          $scope.data.dinner.push({text:$scope.d_text});
          $scope.d_text = "";
          localStorage.setItem(date_str + '_dinner',objToJson($scope.data.dinner));
        }
        $scope.add_s = function(){
          $scope.data.shopping_list.push({text:$scope.s_text});
          $scope.s_text = "";
          localStorage.setItem(date_str + '_shopping_list',objToJson($scope.data.shopping_list));
        }

        $scope.prev_date = function(){
          now.setDate(now.getDate() -1);
          date_str = now.getFullYear() + '-' + now.getMonth() + '-' + now.getDate();
          $scope.date = date_str + "(" + dayToStr(now.getDay()) +")";
          readData();
        }
        $scope.next_date = function(){
          now.setDate(now.getDate() +1);
          date_str = now.getFullYear() + '-' + now.getMonth() + '-' + now.getDate();
          $scope.date = date_str + "(" + dayToStr(now.getDay()) +")";
          readData();
        }

        function readData(){
          var m = localStorage.getItem(date_str + '_morning');
          if(m != null){
            $scope.data.morning = JSON.parse(m);
          }else{
            $scope.data.morning = [];
          }
          var d = localStorage.getItem(date_str + '_dinner');
          if(d != null){
            $scope.data.dinner = JSON.parse(d);
          }else{
            $scope.data.dinner = [];           
          }
          var l = localStorage.getItem(date_str + '_lunch');
            if(l != null){
            $scope.data.lunch = JSON.parse(l);
          }else{
            $scope.data.lunch = [];           
          }
          var s = localStorage.getItem(date_str + '_shopping_list');
            if(s != null){
            $scope.data.shopping_list = JSON.parse(s);
          }else{
            $scope.data.shopping_list = [];           
          }

        }


      });
      function objToJson(obj){
        if(!Array.isArray(obj)){
          return "";
        }
        var arry = [];
        for(var i = 0;i < obj.length;i++){
          arry.push({text: obj[i].text});
        }
        return JSON.stringify(arry);
      }
      function dayToStr(day_number){
          var days = ['日','月','火','水','木','金','土'];
          return days[day_number];
      }
    </script>
  </body>
</html>  