<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>献立のメモ</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/mblode/marx/master/css/marx.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <style>

      textarea{
        width: 80%;
      }
      footer{
        margin-top:60px;
      }
      .delete{
        margin-right: 20px;
        border-radius: 10px;
        background: #d9534e;
        padding:0;
        width: 20px;
        height: 20px;
        font-size:4px;
      }
      .edit_div{
        margin-top:20px;
      }
    </style>
  </head>
  <body>
    <main ng-controller="appController">
      <h1>Write Menu Here!</h1>
      <h2 id="date">{{date}}</h2>
      <div>
        <a href="#" ng-click="prev_date()">⇐ prev date</a>|<a href="#" ng-click="next_date()">next date ⇒</a>
      </div>

      <h3>Morning</h3>
      <ul>
        <li ng-repeat="m_row in data.morning"><button class="delete" ng-show="delete_mode" id="morning_{{$index}}" ng-click="delete($event)">×</button>{{m_row.text}}</li>
      </ul>
      <div>
        <input ng-model="m_text"><button type="button" ng-click="add_m()">+</button>
      </div>

      <h3>Lunch</h3>
      <ul>
        <li ng-repeat="l_row in data.lunch"><button class="delete" ng-show="delete_mode" id="lunch_{{$index}}" ng-click="delete($event)">×</button>{{l_row.text}}</li>
      </ul>
      <div>
          <input ng-model="l_text"><button type="button" ng-click="add_l()">+</button>
      </div>

      <h3>Dinner</h3>
      <ul>
          <li ng-repeat="d_row in data.dinner"><button class="delete" ng-show="delete_mode" id="dinner_{{$index}}" ng-click="delete($event)">×</button>{{d_row.text}}</li>
      </ul>
      <div>
          <input ng-model="d_text"><button type="button" ng-click="add_d()">+</button>
      </div>

      <h3>Shopping List</h3>
      <ul>
          <li ng-repeat="s_row in data.shoppinglist">{{s_row.text}}<button class="delete" ng-show="delete_mode" id="shoppinglist_{{$index}}" ng-click="delete($event)">×</button></li>
      </ul>
      <div>
          <input ng-model="s_text"><button type="button" ng-click="add_s()">+</button>
      </div>
      <div class="edit_div">
        <button ng-click="toggle_delete_mode()">{{mode_label}}</button>
      </div>
    </main>
    <footer>
      
    </footer>
  <script>
      var module = angular.module('app',[]);
      var now = new Date();
      var date_str = now.getFullYear() + '-' + now.getMonth() + '-' + now.getDate();
      
      module.controller('appController',function($scope){
        $scope.delete_mode = false;
        $scope.mode_label = "編集モードにする";
        $scope.date = date_str + "(" + dayToStr(now.getDay()) +")";

        $scope.data = {morning:[],lunch:[],dinner:[],shoppinglist:[]};

        // localstrageからよみこみ
        readData();

        // click event
        // ---------------
        // TODO:全体的に3回も同じのかいてて冗長なのであとでなおす。。。。
        //　あとでmodule化する
        $scope.add_m = function(){
          $scope.data.morning.push({text:$scope.m_text});
          $scope.m_text = "";
          localStorage.setItem(date_str + '_morning',objToJson($scope.data.morning));
        }
        $scope.add_l = function(){
          $scope.data.lunch.push({text:$scope.l_text});
          $scope.l_text = "";
          localStorage.setItem(date_str + '_lunch',objToJson($scope.data.lunch));
        }
        $scope.add_d = function(){
          $scope.data.dinner.push({text:$scope.d_text});
          $scope.d_text = "";
          localStorage.setItem(date_str + '_dinner',objToJson($scope.data.dinner));
        }
        $scope.add_s = function(){
          $scope.data.shoppinglist.push({text:$scope.s_text});
          $scope.s_text = "";
          localStorage.setItem(date_str + '_shoppinglist',objToJson($scope.data.shoppinglist));
        }

        $scope.prev_date = function(){
          now.setDate(now.getDate() -1);
          date_str = now.getFullYear() + '-' + now.getMonth() + '-' + now.getDate();
          $scope.date = date_str + "(" + dayToStr(now.getDay()) +")";
          readData();
        }
        $scope.next_date = function(){
          now.setDate(now.getDate() +1);
          date_str = now.getFullYear() + '-' + now.getMonth() + '-' + now.getDate();
          $scope.date = date_str + "(" + dayToStr(now.getDay()) +")";
          readData();
        }

        $scope.delete = function($event){
          var params = $event.target.id.split('_');
          $scope.data[params[0]].splice(params[1],1);
          localStorage.setItem(date_str + '_' + params[0],objToJson($scope.data[params[0]]));
        }

        $scope.toggle_delete_mode = function(){
          if($scope.delete_mode){
            $scope.delete_mode = false;
            $scope.mode_label = "編集モードにする";
          }else{
            $scope.delete_mode = true;
            $scope.mode_label = "編集モードを終了する";
          }
        }

        function readData(){
          var m = localStorage.getItem(date_str + '_morning');
          if(m != null){
            $scope.data.morning = JSON.parse(m);
          }else{
            $scope.data.morning = [];
          }
          var d = localStorage.getItem(date_str + '_dinner');
          if(d != null){
            $scope.data.dinner = JSON.parse(d);
          }else{
            $scope.data.dinner = [];           
          }
          var l = localStorage.getItem(date_str + '_lunch');
            if(l != null){
            $scope.data.lunch = JSON.parse(l);
          }else{
            $scope.data.lunch = [];           
          }
          var s = localStorage.getItem(date_str + '_shoppinglist');
            if(s != null){
            $scope.data.shoppinglist = JSON.parse(s);
          }else{
            $scope.data.shoppinglist = [];           
          }

        }


      });
      function objToJson(obj){
        if(!Array.isArray(obj)){
          return "";
        }
        var arry = [];
        for(var i = 0;i < obj.length;i++){
          arry.push({text: obj[i].text});
        }
        return JSON.stringify(arry);
      }
      function dayToStr(day_number){
          var days = ['日','月','火','水','木','金','土'];
          return days[day_number];
      }
    </script>
  </body>
</html>  